integraciones/n8n/workflow_verificacion_alertas.json
{
  "name": "FundCompare - Verificacion de Alertas",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * 1-5"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Cada hora en dias laborables",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/v1/telegram/verificar-alertas",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "body": "={ \"enviar_notificaciones\": false }",
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Verificar alertas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-alertas-gt-0",
              "leftValue": "={{ $json.alertas_disparadas }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Hay alertas disparadas",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatea las alertas disparadas en un mensaje Markdown para Telegram\nconst data = $input.first().json;\nconst detalle = data.detalle || [];\n\nconst fmtNum = v => v != null ? Number(v).toFixed(4) : 'N/A';\n\nconst lines = [\n  `🚨 *FundCompare · Alertas disparadas*`,\n  `Total activadas: ${data.alertas_disparadas}`,\n  ''\n];\n\nfor (const item of detalle) {\n  const a = item.alerta;\n  lines.push(`⚡ *${a.ticker}* · ${a.metrica} ${a.condicion} ${a.umbral}`);\n  lines.push(`  Valor actual: ${fmtNum(item.valor_actual)}`);\n  lines.push('');\n}\n\nreturn [{ json: { mensaje: lines.join('\\n') } }];"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Formatear alertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.FUNDCOMPARE_CHAT_ID }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Notificar por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1120, 220],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "FundCompare Bot"
        }
      }
    }
  ],
  "connections": {
    "Cada hora en dias laborables": {
      "main": [
        [{ "node": "Verificar alertas", "type": "main", "index": 0 }]
      ]
    },
    "Verificar alertas": {
      "main": [
        [{ "node": "Hay alertas disparadas", "type": "main", "index": 0 }]
      ]
    },
    "Hay alertas disparadas": {
      "main": [
        [{ "node": "Formatear alertas", "type": "main", "index": 0 }],
        []
      ]
    },
    "Formatear alertas": {
      "main": [
        [{ "node": "Notificar por Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
