.history/docs/n8n/workflow_resumen_diario_20260620160122.json
{
  "name": "FundCompare - Resumen Diario Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Lunes-Viernes a las 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/v1/comparar",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "tickers", "value": "SPY,QQQ,IWM" },
            { "name": "periodo", "value": "1mo" }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Obtener comparacion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatea el JSON de /api/v1/comparar en un mensaje Markdown para Telegram\nconst data = $input.first().json;\nconst fondos = data.fondos || [];\nconst periodo = data.periodo || '';\nconst fecha = data.fecha_consulta\n  ? new Date(data.fecha_consulta).toLocaleString('es-ES')\n  : '';\n\nconst fmtPct = v => v != null ? `${(v * 100).toFixed(2)}%` : 'N/A';\nconst fmtNum = v => v != null ? Number(v).toFixed(4) : 'N/A';\n\nconst lines = [\n  `📊 *FundCompare · Resumen ${periodo}*`,\n  `_${fecha}_`,\n  ''\n];\n\nfor (const fondo of fondos) {\n  if (fondo.error) {\n    lines.push(`⚠️ *${fondo.ticker}*: ${fondo.observaciones}`);\n    continue;\n  }\n  const rent = fondo.rentabilidad_acumulada;\n  const emoji = rent != null && rent >= 0 ? '📈' : '📉';\n  lines.push(`${emoji} *${fondo.ticker}*`);\n  lines.push(`  Rentabilidad: ${fmtPct(rent)}`);\n  lines.push(`  Sharpe: ${fmtNum(fondo.sharpe_ratio)}`);\n  lines.push(`  Sortino: ${fmtNum(fondo.sortino_ratio)}`);\n  lines.push(`  Max Drawdown: ${fmtPct(fondo.max_drawdown)}`);\n  lines.push('');\n}\n\nconst rankingS = data.ranking_sharpe || [];\nconst rankingR = data.ranking_rentabilidad || [];\nif (rankingS.length > 0) {\n  lines.push(`🏆 *Mejor Sharpe:* ${rankingS[0].ticker} (${fmtNum(rankingS[0].valor)})`);\n}\nif (rankingR.length > 0) {\n  lines.push(`💰 *Mejor Rentabilidad:* ${rankingR[0].ticker} (${fmtPct(rankingR[0].valor)})`);\n}\n\nreturn [{ json: { mensaje: lines.join('\\n') } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Formatear mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $vars.FUNDCOMPARE_CHAT_ID }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Enviar por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [900, 300],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "FundCompare Bot"
        }
      }
    }
  ],
  "connections": {
    "Lunes-Viernes a las 9h": {
      "main": [
        [{ "node": "Obtener comparacion", "type": "main", "index": 0 }]
      ]
    },
    "Obtener comparacion": {
      "main": [
        [{ "node": "Formatear mensaje", "type": "main", "index": 0 }]
      ]
    },
    "Formatear mensaje": {
      "main": [
        [{ "node": "Enviar por Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
