docs/n8n/workflow_resumen_diario_por_usuario.json
{
  "name": "FundCompare - Resumen Diario Por Usuario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000001",
      "name": "Lunes-Viernes a las 9h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/v1/telegram/usuarios-suscritos",
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000002",
      "name": "Obtener usuarios suscritos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Convierte la lista de usuarios en items individuales para iterar\nconst data = $input.first().json;\nconst usuarios = data.usuarios || [];\n\nreturn usuarios.map(u => ({ json: u }));"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000003",
      "name": "Separar por usuario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/v1/comparar",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "tickers", "value": "={{ $json.tickers }}" },
            { "name": "periodo", "value": "1mo" }
          ]
        },
        "options": {}
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000004",
      "name": "Obtener metricas del usuario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Formatea el resumen personalizado para cada usuario\nconst metricas = $input.first().json;\nconst usuario = $('Separar por usuario').item.json;\nconst fondos = metricas.fondos || [];\nconst periodo = metricas.periodo || '1mo';\n\nconst fmtPct = v => v != null ? `${(v * 100).toFixed(2)}%` : 'N/A';\nconst fmtNum = v => v != null ? Number(v).toFixed(4) : 'N/A';\n\nconst lines = [\n  `📊 *Hola ${usuario.nombre}, tu resumen ${periodo}*`,\n  `_${new Date().toLocaleString('es-ES')}_`,\n  ''\n];\n\nfor (const fondo of fondos) {\n  if (fondo.error) {\n    lines.push(`⚠️ *${fondo.ticker}*: ${fondo.observaciones}`);\n    continue;\n  }\n  const rent = fondo.rentabilidad_acumulada;\n  const emoji = rent != null && rent >= 0 ? '📈' : '📉';\n  lines.push(`${emoji} *${fondo.ticker}*`);\n  lines.push(`  Rentabilidad: ${fmtPct(rent)}`);\n  lines.push(`  Sharpe: ${fmtNum(fondo.sharpe_ratio)}`);\n  lines.push(`  Sortino: ${fmtNum(fondo.sortino_ratio)}`);\n  lines.push(`  Max Drawdown: ${fmtPct(fondo.max_drawdown)}`);\n  lines.push('');\n}\n\nconst rankingS = metricas.ranking_sharpe || [];\nconst rankingR = metricas.ranking_rentabilidad || [];\nif (rankingS.length > 0) {\n  lines.push(`🏆 *Mejor Sharpe:* ${rankingS[0].ticker} (${fmtNum(rankingS[0].valor)})`);\n}\nif (rankingR.length > 0) {\n  lines.push(`💰 *Mejor Rentabilidad:* ${rankingR[0].ticker} (${fmtPct(rankingR[0].valor)})`);\n}\n\nreturn [{ json: { mensaje: lines.join('\\n'), chat_id: usuario.chat_id } }];"
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000005",
      "name": "Formatear mensaje personalizado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "e5f6a7b8-0005-0005-0005-000000000006",
      "name": "Enviar por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 300],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "FundCompare Bot"
        }
      }
    }
  ],
  "connections": {
    "Lunes-Viernes a las 9h": {
      "main": [
        [{ "node": "Obtener usuarios suscritos", "type": "main", "index": 0 }]
      ]
    },
    "Obtener usuarios suscritos": {
      "main": [
        [{ "node": "Separar por usuario", "type": "main", "index": 0 }]
      ]
    },
    "Separar por usuario": {
      "main": [
        [{ "node": "Obtener metricas del usuario", "type": "main", "index": 0 }]
      ]
    },
    "Obtener metricas del usuario": {
      "main": [
        [{ "node": "Formatear mensaje personalizado", "type": "main", "index": 0 }]
      ]
    },
    "Formatear mensaje personalizado": {
      "main": [
        [{ "node": "Enviar por Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
