API-main/integraciones/n8n/workflow_verificacion_alertas.json
{
  "name": "FundCompare - Verificacion Alertas Cierre",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 1-5"
            }
          ]
        }
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000001",
      "name": "Lunes-Viernes a las 22h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:5000/api/v1/alertas/comprobar",
        "options": {}
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000002",
      "name": "Comprobar alertas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-has-alerts",
              "leftValue": "={{ $json.total_disparadas }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000003",
      "name": "Hay alertas disparadas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "// Separa cada alerta disparada en un item individual\nconst data = $input.first().json;\nconst alertas = data.disparadas || [];\n\nreturn alertas.map(a => ({ json: a }));"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000004",
      "name": "Separar alertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220]
    },
    {
      "parameters": {
        "jsCode": "// Formatea el mensaje de alerta para Telegram\nconst a = $input.first().json;\n\nconst fmtVal = v => v != null ? Number(v).toFixed(4) : 'N/A';\n\nconst condText = a.condicion === '>' ? 'ha superado' : 'ha caído por debajo de';\nconst emoji = a.condicion === '>' ? '🔺' : '🔻';\n\nconst lines = [\n  `${emoji} *ALERTA: ${a.ticker}*`,\n  '',\n  `📊 *${a.metrica}* ${condText} tu umbral`,\n  `  Valor actual: ${fmtVal(a.valor_actual)}`,\n  `  Umbral: ${fmtVal(a.umbral)} (${a.condicion})`,\n  `  Periodo: ${a.periodo}`,\n  '',\n  `_${new Date().toLocaleString('es-ES')}_`,\n];\n\nreturn [{ json: { mensaje: lines.join('\\n'), chat_id: a.chat_id } }];"
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000005",
      "name": "Formatear mensaje alerta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.mensaje }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "f6a7b8c9-0006-0006-0006-000000000006",
      "name": "Enviar alerta por Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1340, 220],
      "credentials": {
        "telegramApi": {
          "id": "REEMPLAZAR_CON_ID_CREDENCIAL",
          "name": "FundCompare Bot"
        }
      }
    }
  ],
  "connections": {
    "Lunes-Viernes a las 22h": {
      "main": [
        [{ "node": "Comprobar alertas", "type": "main", "index": 0 }]
      ]
    },
    "Comprobar alertas": {
      "main": [
        [{ "node": "Hay alertas disparadas?", "type": "main", "index": 0 }]
      ]
    },
    "Hay alertas disparadas?": {
      "main": [
        [{ "node": "Separar alertas", "type": "main", "index": 0 }],
        []
      ]
    },
    "Separar alertas": {
      "main": [
        [{ "node": "Formatear mensaje alerta", "type": "main", "index": 0 }]
      ]
    },
    "Formatear mensaje alerta": {
      "main": [
        [{ "node": "Enviar alerta por Telegram", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
